@font-face{
font-family:"Avenir Next";
src:url("/fonts/de6ddab4-6357-4d45-b626-52c3bd8fd77a.eot?#iefix");
src:url("/fonts/de6ddab4-6357-4d45-b626-52c3bd8fd77a.eot?#iefix") format("eot"),url("/fonts/fb555151-cbda-4728-b28d-6e5f085c2d55.woff") format("woff"),url("/fonts/8c58f11b-45a1-43dc-995e-785023989e7e.ttf") format("truetype"),url("/fonts/28108543-a866-4464-b36d-3362b695bd4a.svg#28108543-a866-4464-b36d-3362b695bd4a") format("svg");
font-style: normal;
font-weight: normal;
}
@font-face{
font-family:"Avenir Next";
src:url("/fonts/d80df405-6718-4dbc-9f54-d88c0807ca8b.eot?#iefix");
src:url("/fonts/d80df405-6718-4dbc-9f54-d88c0807ca8b.eot?#iefix") format("eot"),url("/fonts/ba4bd129-7517-4eef-9fe8-473263d17616.woff") format("woff"),url("/fonts/229324ce-a846-4038-9167-0e65a0c32226.ttf") format("truetype"),url("/fonts/9705a786-ed36-423c-bfb3-43e7e96a3895.svg#9705a786-ed36-423c-bfb3-43e7e96a3895") format("svg");
font-weight: bold;
font-style: normal;
}
@font-face{
font-family:"Avenir Next";
src:url("/fonts/42c793cf-df5a-4e07-bf3e-37de54df02b6.eot?#iefix");
src:url("/fonts/42c793cf-df5a-4e07-bf3e-37de54df02b6.eot?#iefix") format("eot"),url("/fonts/c6c8e4be-17eb-4475-bbfc-bb485ffde766.woff") format("woff"),url("/fonts/87a872d0-5af3-4231-a77c-37f41ec74662.ttf") format("truetype"),url("/fonts/91464696-717b-4eaa-adbd-0dfc5e5fd782.svg#91464696-717b-4eaa-adbd-0dfc5e5fd782") format("svg");
font-weight: 200;
font-style: normal;
}


@font-face {
    font-family: 'icomoon';
    src:url('/fonts/icomoon.eot');
    src:url('/fonts/icomoon.eot?#iefix') format('embedded-opentype'),
        url('/fonts/icomoon.woff') format('woff'),
        url('/fonts/icomoon.ttf') format('truetype'),
        url('/fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-open:before {
    content: "\e600";
}
.icon-dna:before {
    content: "\e601";
}
.icon-performance:before {
    content: "\e602";
}
.icon-zap-cloud:before {
    content: "\e603";
}
.icon-white-label:before {
    content: "\e604";
}
.icon-versions:before {
    content: "\e605";
}
.icon-user:before {
    content: "\e606";
}
.icon-unlocked:before {
    content: "\e607";
}
.icon-trash:before {
    content: "\e608";
}
.icon-tools:before {
    content: "\e609";
}
.icon-speedometer:before {
    content: "\e60a";
}
.icon-smiley:before {
    content: "\e60b";
}
.icon-site-upload:before {
    content: "\e60c";
}
.icon-signal:before {
    content: "\e60d";
}
.icon-servers:before {
    content: "\e60e";
}
.icon-server:before {
    content: "\e60f";
}
.icon-rocket:before {
    content: "\e610";
}
.icon-robot:before {
    content: "\e611";
}
.icon-power-balloon:before {
    content: "\e612";
}
.icon-plus:before {
    content: "\e613";
}
.icon-octocat:before {
    content: "\e614";
}
.icon-mail:before {
    content: "\e615";
}
.icon-locked:before {
    content: "\e616";
}
.icon-lightning:before {
    content: "\e617";
}
.icon-inject:before {
    content: "\e618";
}
.icon-globe:before {
    content: "\e619";
}
.icon-github:before {
    content: "\e61a";
}
.icon-gem:before {
    content: "\e61b";
}
.icon-form:before {
    content: "\e61c";
}
.icon-edit:before {
    content: "\e61d";
}
.icon-deploy-bot:before {
    content: "\e61e";
}
.icon-connect:before {
    content: "\e61f";
}
.icon-code:before {
    content: "\e620";
}
.icon-cloud-upload:before {
    content: "\e621";
}
.icon-briefcase:before {
    content: "\e622";
}
.icon-box-plus:before {
    content: "\e623";
}
.icon-balloon:before {
    content: "\e624";
}
.icon-balloon-bot:before {
    content: "\e625";
}
.icon-API:before {
    content: "\e626";
}
.icon-external-link:before {
    content: "\e627";
}
.icon-scale:before {
    content: "\e628";
}
.icon-atomic:before {
    content: "\e629";
}
.icon-node:before {
    content: "\e62a";
}
.icon-cogs:before {
    content: "\e62b";
}
.icon-arrow-down:before {
    content: "\e62c";
}
.icon-angle-down:before {
    content: "\e62d";
}
