<% wrap_layout :layout do %>
  <div class="main">
    <div class="row  sheet">
      <div class="large-3 columns">
        <ul class="docs-nav">
          <% sitemap.where(:layout.equal => "docs").order_by(:position).all.each do |page| %>
          <li class="<%= 'current' if page.url == current_page.url %>"><a href="<%= page.url %>"><%= page.data.title %></a></li>
          <% end %>
          <li><a href="https://github.com/BitBalloon/bitballoon-api"><i class="icon-github"></i> API Reference</a></li>
          <li><a href="https://github.com/BitBalloon/bitballoon-ruby"><i class="icon-github"></i> Ruby Client</a></li>
          <li><a href="https://github.com/BitBalloon/bitballoon-js"><i class="icon-github"></i> Node Client</a></li>
        </ul>
      </div>

      <div class="docs-main large-9 columns">
        <%= yield %>
      </div>

    </div>
  </div>
<% end %>