<h2>Add content</h2>

<ul class="no-bullets">
  <li ng-repeat="collection in collections | filter:{create:true}">
    <h3>
      <a ng-href="/admin/{{collection.slug}}/new">New {{collection.label}} <small>Add a new {{collection.label}} to your website</small></a>
    </h3>
  </li>
</ul>

<h2>Edit Blog posts</h2>

<ul class="no-bullets">
  <li ng-repeat="post in sitemap.posts">
    <h3>
      <a ng-href="/admin/posts/{{post.slug}}/new">{{post.title}} <small>{{post.description}}</small></a>
    </h3>
  </li>
</ul>