<div id="request-a-demo" class="reveal-modal small">
  <div class="row">

    <div class="large-12 columns">
      <h2>Request a Demo</h2>

      <form name="request-a-demo">
        <div class="row">
          <div class="large-6 columns">
            <p>
              <label>Name</label>
              <input name="name" type="text" required>
            </p>
          </div>
          <div class="large-6 columns">
            <p>
              <label>Email</label>
              <input name="email" type="email" required>
            </p>
          </div>
        </div>

        <div class="row">
          <div class="large-6 columns">
            <p>
              <label>Company</label>
              <input name="company" type="text" required>
            </p>
          </div>

          <div class="large-6 columns">
            <p>
              <label>Phone</label>
              <input name="phone" type="tel" required>
            </p>
          </div>
        </div>

        <div class="row">
          <div class="large-12 columns">
            <p>
              <label>What are your web publishing needs?</label>
              <textarea name="message" rows="10" required></textarea>
            </p>
          </div>
        </div>

        <div class="row">
          <div class="large-6 large-centered columns">
            <button class="radius button expand" type="submit">Send</button>
          </div>
        </div>

      </form>
    </div>
  </div>

  <a class="close-reveal-modal">&#215;</a>
</div>