.cms-preview img {
  margin: 0 auto;
  display: block;
  border-radius: 4px;  
}

.cms-entry-title, .cms-action-title, .cms-collection-title {
  a:hover {
    text-decoration: none;
  }
}

.cms-form-title {
  border-bottom: 1px solid;
  padding-bottom: 25px;
}

.cms-subtitle {
  color: #444;
  margin-bottom: 30px;
  font-weight: normal;
}

.cms-preview .entry-meta {
  text-align: center;
  display: block;
  color: gray;
  font-size: 1em;
  margin: .5em auto 1em;
}