.cms-preview img {
  margin: 0 auto;
  display: block;
  border-radius: 4px;
}

.cms-preview .entry-meta {
  text-align: center;
  display: block;
  color: gray;
  font-size: 1em;
  margin: .5em auto 1em;
}
