<div class="main about">
  <div class="row">
    <div class="large-8 medium-9 columns">
      <h2>What is BitBalloon?</h2>
      <p>Bitballoon is scaled down and simplified version of <a href="https://www.netlify.com">Netlify</a>. While Netlify has introduced a host of features, and especially focuses on automation and continuous delivery to Git, Bitballoon’s only focus is getting your site live as easy and fast as possible.</p>
      <p>You simply drag’n’drop your folder and voila, you have a live site. It’s geared towards codeschools and people who want a super simple way to view their prototypes. And if you find you want more, you can upgrade to <a href="https://www.netlify.com">Netlify</a> with a single click.</p>
    </div>
    <div class="large-4 columns medium-3 hide-for-small">
      <img class="full-width" src="/images/balloons.svg"/>
    </div>
  </div>
</div>