<div class="main features-page">
  <section class="row sheet">
      <header>
          <h1 class="text-center">Feature packed deployments</h1>
          <h3 class="light text-center">Powering web publishing for businesses of all sizes</h3>
          <hr/>
      </header>

      <section class="feature-rows">
        <div class="row">

          <div class="large-6 columns">

            <i class="icon-cloud-upload"></i>
            <h3>One Step Hosting</h3>
            <p>BitBalloon automates the process of hosting your site in a highly optimized way. No more FTP or build scripts! Publish in one step with drag & drop or from the command line. </p>

          </div>

          <div class="large-6 columns">

            <i class="icon-rocket"></i>
            <h3>Web Performance</h3>
            <p>BitBalloon will automatically minify and bundle your CSS & JS. It will also losslessly compress your images, set perfect caching headers and manage CDN integration for you.</p>

          </div>

        </div>
        <div class="row">

          <div class="large-6 columns">

            <i class="icon-form"></i>
            <h3>Process Forms</h3>
            <p>No backend code required! Your forms will just work. You get a database, export tools, email notifications & integration with 3rd party services, out of the box!</p>

          </div>

          <div class="large-6 columns">

            <i class="icon-versions"></i>
            <h3>Versioning</h3>
            <p>BitBalloon creates a new version any time you make changes to your site. Create with confidence knowing you can roll back to any version, at any time.</p>

          </div>

        </div>
        <div class="row">

          <div class="large-6 columns">

            <i class="icon-globe"></i>
            <h3>Custom Domains</h3>
            <p>Set custom domains for your sites and manage DNS.</p>
          </div>

          <div class="large-6 columns">

            <i class="icon-user"></i>
            <h3>Single Sign On</h3>
            <p><a href="/partner">Resellers</a>, authenticate your users to deploy with BitBalloon.</p>
          </div>

        </div>
        <div class="row">

          <div class="large-6 columns">

            <i class="icon-inject"></i>
            <h3>Inject Snippets</h3>
            <p>Integrate 3rd party scripts into your site footer and form "thank you" pages with our snippet injection utility.</p>

          </div>

          <div class="large-6 columns">

            <i class="icon-unlocked"></i>
            <h3>Password Protect</h3>
            <p>Set passwords to prevent prying eyes from accessing your confidential sites.</p>

          </div>

        </div>

        <hr/>

        <div class="row major">
          <div class="large-8 large-centered columns">
            <p class="text-center"><i class="icon-code" ></i></p>
            <h2 class="text-center">100% Programmable</h2>
            <p>All of BitBalloon can be controlled with the <a href="docs/api">API</a>. Use it to give your own applications the power to publish and manage sites. If you'd like to use BitBalloon as a publishing engine for your own app or service, check out our <a href="/partner">partner</a> options.</p>
          </div>
        </div>
      </section>

    </div>

    <div class="row">
      <div class="large-12 columns">
        <h2 class="text-center light">
          What are you waiting for?
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="large-6 large-centered columns">
        <div class="dashed-box">
          <div class="cta">
            <div class="row">
              <div>
                <h3 class="headline text-center">Drag your <span class="folder-support">site folder</span><span class="no-folder-support">site zip</span> here</h3>
              </div>
                <i class="icon-cloud-upload redeploy-cloud"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
</div>