---
title: BitBalloon - The fastest, simplest HTML5 hosting platform on the planet
class_name: "home"
---
<section class="dropzone">

  <div class="home-hero">

    <div class="row">

      <div class="large-6 columns">
        <h2 class="main-message">The ultimate hosting platform for your <span class="experiment4_terminology">static</span> sites & apps</h2>

        <a href="#" class="login-button sign-up-button">Sign Up for Free</a>

        <h3 class="signed-in-cta">You're signed in, try publishing!</h3>
      </div>

      <div class="large-5 right columns">
        <div class="dashed-box">
          <i class="icon-cloud-upload cloud-icon"></i>
          <h2 class="headline">Drag Your Site<br/><span class="folder-support">Folder</span><span class="no-folder-support">Zip File</span> Here</h2>
        </div>
        <h5 class="demo-cta text-center">Don't have a site handy? <a href="http://5c4cf848f6454dc02ec8-c49fe7e7355d384845270f4a7a0a7aa1.r53.cf2.rackcdn.com/55e89202-c409-4906-9778-50049431da45/synergy-landing.zip">Download a demo site</a></h5>
      </div>

      <div class="down-hint"><a href="#reasons"><i class="icon-angle-down"></i></a></div>

    </div>

  </div>


</section>

<div class="fade"></div>


<section id="reasons">
  <div class="row">
    <div class="large-12 columns">
      <h1 class="light text-center">Why you'll love BitBalloon</h1>
    </div>
    <hr/>
  </div>


  <div class="row two">
    <div class="large-3 columns ">
      <i class="icon-cogs"></i>
    </div>
    <div class="large-7 columns ">
      <h3>Infinitely Scalable</h3>
      <p>BitBalloon automatically optimizes your site to keep it performing blazing fast from prototype to production.</p>
      <p class="hosting-partners">
        <img class="rackspace" src="/images/rackspace.jpg"/>
        <img class="akamai" src="/images/Akamai.png"/>
      </p>
    </div>
    <hr/>
  </div>

  <div class="row three">
    <div class="large-3 columns ">
      <i class="icon-form"></i>
    </div>
    <div class="large-7 columns ">
      <h3>Magic Forms</h3>
      <p>If you create the HTML for a web form, BitBalloon will create an instant database that saves the form input and can send it meaningful places.</p>
    </div>
    <hr/>
  </div>

  <div class="row one">
    <div class="large-3 columns ">
      <i class="icon-code"></i>
    </div>
    <div class="large-7 columns ">
      <h3>Developer Friendly</h3>
      <p> Deploy a project in <strong>one line</strong> of code.</p>
      <p>
        <pre>
          <code>~ bitballoon deploy</code></pre>
        <img class="node" src="/images/node.svg"/>
        <img class="ruby" src="/images/ruby.png"/>
      </p>
    </div>
    <hr/>
  </div>

  <div class="row four">
    <div class="large-3 columns ">
      <i class="icon-dna"></i>
    </div>
    <div class="large-7 columns ">
      <h3>Partner Focused</h3>
      <p>Use our API to grow your own business by offering instant HTML5 hosting to your customers as a <a href="/partner">BitBalloon Partner</a>.</p>
    </div>
    <hr/>
  </div>
</section>


<section class="home-footer">
  <div class="white-bg"></div>
  <div class="white-fade"></div>

  <div class="row">
    <div class="large-12 columns try-it-out">
      <h2 class="text-center light">
        Try it out!
      </h2>
      <h5 class="text-center">Don't have a static site handy? Download this <a href="http://5c4cf848f6454dc02ec8-c49fe7e7355d384845270f4a7a0a7aa1.r53.cf2.rackcdn.com/55e89202-c409-4906-9778-50049431da45/synergy-landing.zip">demo site <i class="icon-download"></i></a></h5>
    </div>
  </div>
  <div class="row">
    <div class="cta large-6 medium-8 medium-centered large-centered columns">
      <div class="white dashed-box">
        <div class="row">
          <div>
            <h3 class="headline text-center">Drag your <span class="folder-support">site folder</span><span class="no-folder-support">site zip</span> here</h3>
          </div>
            <i class="icon-cloud-upload redeploy-cloud"></i>
        </div>
      </div>
    </div>
  </div>

</section>
