---
title: BitBalloon - The fastest, simplest HTML5 hosting platform on the planet
class_name: "home"
---
<section class="dropzone">

  <div class="home-hero">

    <div class="row">

      <div class="large-6 columns">
        <h1 class="main-message">You're site online in seconds.</h1>
        <h1 class="signed-in-cta">You're signed in, try publishing!</h1>
        <h2 class="tagline">Powered by <a href="https://www.netlify.com">Netlify</a>.</h2>

        <a href="/login" class="sign-up-button">Sign Up for Free</a>

      </div>

      <div class="large-5 right columns">
        <div class="dashed-box">
          <i class="icon-cloud-upload cloud-icon"></i>
          <h2 class="headline">Drag Your Site <span class="folder-support">Folder</span><span class="no-folder-support">Zip File</span> Here</h2>
        </div>
        <h5 class="demo-cta text-center">Don't have a site handy? <a href="http://5c4cf848f6454dc02ec8-c49fe7e7355d384845270f4a7a0a7aa1.r53.cf2.rackcdn.com/55e89202-c409-4906-9778-50049431da45/synergy-landing.zip">Download a demo site</a>.</h5>
      </div>

      <div class="down-hint"><a href="#reasons"><i class="icon-angle-down"></i></a></div>

    </div>

  </div>


</section>

<div class="fade"></div>

<section id="reasons" class="text-center">
  <div class="row">
    <div class="large-4 columns">
      <div><i class="icon-cogs"></i></div>
      <h3>Infinitely Scalable</h3>
      <p>BitBalloon automatically optimizes your site to keep it performing blazing fast from prototype to production.</p>
    </div>

    <div class="large-4 columns">
      <div><i class="icon-form"></i></div>
      <h3>Magic Forms</h3>
      <p>BitBalloon detects HTML forms and creates an instant database for your form submissions.</p>
    </div>

    <div class="large-4 columns">
      <div><i class="icon-code"></i></div>
      <h3>Developer Friendly</h3>
      <p>BitBalloon comes with both a REST API and command line tools. Deploy a project in <strong>one line</strong> of code.</p>
    </div>
  </div>
</section>


<section class="home-footer">
  <div class="row">
    <div class="large-12 columns try-it-out">
      <h2 class="text-center light">
        Try it out!
      </h2>
      <h5 class="text-center hide-for-small">Don't have a static site handy? Download this <a href="http://5c4cf848f6454dc02ec8-c49fe7e7355d384845270f4a7a0a7aa1.r53.cf2.rackcdn.com/55e89202-c409-4906-9778-50049431da45/synergy-landing.zip">demo site<i class="icon-download"></i></a>.</span></h5>
      <a href="/login" class="sign-up-button">Sign Up for Free</a>
    </div>
  </div>
  <div class="row">
    <div class="cta large-6 medium-8 medium-centered large-centered columns">
      <div class="white dashed-box">
        <div class="row">
          <i class="icon-cloud-upload redeploy-cloud"></i>
          <div>
            <h3 class="headline text-center">Drag your <span class="folder-support">site folder</span><span class="no-folder-support">site zip</span> here</h3>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
