<div class="main partner">
  <section class="sheet">
    <div class="row ">

      <div class="large-8 medium-9 columns">
        <h2>Partner with BitBalloon</h2>
        <p class="lead">Make hosting and deployment easy for your users by integrating BitBalloon infrastructure into your own app or service. We offer several levels of integration, from a simple affiliate to full-on white-label API integrations.</p>
      </div>
      <div class="large-4 columns medium-3 hide-for-small">
        <img class="full-width" src="/images/balloon-bot.svg"/>
      </div>
    </div>
    <hr/>

    <div class="row">

      <div class="large-2 medium-2 columns hide-for-small left text-center">
        <span class="number">1</span>
      </div>
      <div class="large-8 medium-10 columns left">

        <h3>Affiliate</h3>

        <p>This is the simplest form of partnership. It requires no custom development on your part, all you need to do is add this embed code to create a BitBalloon deployment dropzone for your audience:</p>

        <pre class="prettyprint">

  &lt;a class="bb-dropzone-widget" href="https://www.bitballoon.com?af=CHANGEME"&gt;BitBalloon&lt;/a&gt;
  &lt;script&gt;(function(w,d) { if(!w.bb_embed) { var e = d.createElement("script"); e.async=1; e.src = "https://www.bitballoon.com/embed/script.js"; d.body.appendChild(e); } })(window, document);&lt;/script&gt;
        </pre>

        <p>Earn recurring revenue when users upgrade to Pro.</p>

        <a class="button" href="#" data-reveal-id="contact">Become an Affiliate</a>

      </div>
    </div>
    <hr/>
    <div class="row">
      <div class="large-2 medium-2 columns hide-for-small text-center">
        <span class="number">2</span>
      </div>
      <div class="large-9 medium-10 columns left">

        <h3>Reseller Platform</h3>

        <p>Get a custom branded hosting platform under your own domain name to deploy sites for your users. Resellers sites can have all the same functionality as sites deployed on BitBalloon.com, but under your domain and logo in the admin tools.</p>

        <p>Let BitBalloon bill your customers and earn recurring revenue for their sites. Or you can disable billing individual users and pay a monthly bulk rate directly to BitBalloon.</p>

        <p> Reseller integrations create a good user experience without requiring much  custom developement.</p>

        <a href="#" class="button" data-reveal-id="contact">Get a Quote</a>
      </div>
    </div>
    <hr/>
    <div class="row">

      <div class="large-2 medium-2 columns hide-for-small text-center">
        <span class="number">3</span>
      </div>
      <div class="large-9 medium-10 columns left">
        <h3>API Integration</h3>
        <p>If you're adding static site publishing into your own web service or application, a white-label, API-driven integration is the recommended option.</p>
        <p>The backbone of an infrastructure integration is having the BitBalloon API available under your own domain. Billing is handled as a monthly bulk rate directly between the partner and BitBalloon. Pricing depends on the situation.</p>
        <p>API Integrations let you leverage BitBalloons infrastructure while keeping in complete control of the user experience.</p>

        <a href="#" class="button" data-reveal-id="contact">Speak to an Engineer</a>

      </div>

    </div>
  </section>
</div>