<div class="main pricing">
  <div class="row">

    <ul class="tiers small-block-grid-1 large-block-grid-3">
      <li class="one">
        <a href="/">
          <div class="image-container">
            <img src="/images/balloon.svg">
          </div>
          <h2 class="text-center">Free</h2>
          <p class="description">Hosting on a bitballoon.com subdomain</p>
          <a href="/" class="button">Deploy now!</a>
        </a>
      </li>
      <li class="two">
        <a href="/upgrade">
          <div class="image-container">
            <img src="/images/power-balloon.svg">
          </div>
          <h2 class="text-center">Pro</h2>
          <p class="description">Hosting on your own domain starts at $5/month</p>
          <a href="/upgrade" class="button">Upgrade</a>
        </a>
      </li>
      <li class="three">
        <a href="#request-a-demo" data-reveal-id="request-a-demo" >
          <div class="image-container">
            <img src="/images/business-balloons.svg">
          </div>
          <h2 class="text-center">Business</h2>
          <p class="description">Your own hosting and deployment infrastructure.</p>
          <a href="#request-a-demo" data-reveal-id="request-a-demo" class="button">Request a Demo</a>
        </a>
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="large-12 columns text-center">
      <h2>SSL for Custom Domains</h2>

      <ul class="no-bullet">
        <li>One click setup</li>
        <li>Certificate included</li>
        <li>Works in all browsers</li>
        <li>Yearly: <strong>$180</strong></li>
        <li>Monthly: <strong>$20</strong></li>
      </ul>

      <p>The cheapest CDN backed SSL solution on the market.</p>

      <a href="/login" class="button">Sign up now</a>
    </div>
  </div>
</div>

<%= partial "includes/demo_modal" %>
