<div class="main pricing">
  <div class="row">

    <ul class="tiers row">
      <li class="one small-12 large-4 columns">
        <a href="/">
          <div class="image-container show-for-large-only">
            <img src="/images/balloon.svg">
          </div>
          <h2>Bitballoon Free</h2>
          <p class="description">Drag-n-drop deploys + hosting on a bitballoon.com subdomain is completely free.</p>
          <a href="/" class="button">Deploy now</a>
        </a>
      </li>
      <li class="two small-12 large-8 columns">
        <a href="https://app.netlify.com/signup">
          <img class="netlify-illustration" src="/images/netlify.svg">
          <img class="netlify-logo" src="/images/netlify-logo.svg">
          <h2>Looking for more?</h2>
          <p class="description">Integrate fully with a professional worklow utilizing tools like GitHub and BitBucket seamlessly. A few benefits of transferring your site to Netlify include:</p>
          <ul class="features-list">
            <li><span>Free Custom Domains</span></li>
            <li><span>Deep Git Integration</span></li>
            <li><span>Continuous Deployment with GitHub, BitBucket, GitLab, and Local Repos</span></li>
            <li><span>Asset Acceleration</span></li>
            <li><span>Free SSL, Automatically Renewed</span></li>
            <li><span>Let’s Encrypt TLS Certificates</span></li>
            <li><span>Custom Redirect Rules</span></li>
            <li><span>Automatic Full URL Previews For Every Pull Request</span></li>
            <li><span>Hooks &amp; Notifications</span></li>
            <li><span>Password Protection</span></li>
            <li><span>Form Handling</span></li>
            <li><span>Advanced Proxy Rules</span></li>
            <li><span>Prerendering</span></li>
            <li><span>Domain Aliases</span></li>
            <li><span>Geo-IP (Language-based Geo-local Redirects)</span></li>
          </ul>
          <a href="https://app.netlify.com/signup" class="button">Get Started with Netlify Now</a>
        </a>
      </li>
    </ul>
  </div>
</div>

<%= partial "includes/demo_modal" %>
