---
layout: page
title: BitBalloon - Terms &amp; Conditions
permalink: /tos/
---

<div id="privacy-and-tos" class="section-container auto" data-section data-options="deep_linking: true">
  <section class="active">
    <p class="title" data-section-title><a href="#tos">Terms of Service</a></p>
    <div class="content" data-section-content data-slug="tos">
      <h2>Terms of Service Agreement</h2>
      <p>You (the "User"), by using, accessing, or attempting to interact with, BitBalloon, or other BitBalloon software, services, websites, or any of their licensees services or software (collectively "Services"), agree to be bound and abide by the terms and conditions of this Agreement with BitBalloon.</p>
      <h3>Overview</h3>
      <p>You agree that the Services, which includes all software and documentation, both electronic or printed media, contain copyrighted material, trade secrets, patent pending material, and other proprietary intellectual property. The Services are the proprietary property of BitBalloon. They are protected by copyright, trade secret, and patent laws, and other proprietary rights and laws, and they may only be used or accessed as specifically provided for in this Agreement.</p>
      <p>You agree that you will only use the Services if you are a person over 18 years of age.</p>
      <p>You agree that you will not store, copy, modify, rent, lease, loan, sell, distribute, transfer, transmit, display, reverse engineer, reverse assemble, or otherwise attempt to discover any programming code or any source code used in or with the Services. You may not sell, assign, sublicense, grant a security interest in or otherwise attempt to transfer any right in the Services (which includes its software and documentation), create derivative works based on or in any manner commercially exploit the Services, in whole or in part.</p>
      <p>You agree that violations by you, any other person or entity, of these copyrights, trade secrets, patents, other intellectual property protections, or the terms of this Agreement will be prosecuted to the fullest extent of the law in the federal and state courts located in New York.</p>
      <p>The Services are offered on an "as is" basis and used by the User solely at his or her own risk. All user-specific information provided by user in connection with Services shall be used to provide services and features to the user and to maintain the associated websites.</p>
      <h3>Acceptable Use</h3>
      <p>BitBalloon does not allow any of the following content, orlinks to such content, to be published on the Service:</p>
      <ul>
      <li>Content of a pornographic, sexually explicit, or violent nature.</li>
      <li>Content of an illegal nature (including stolen copyrighted material).</li>
      <li>Pirated software sites, including cracking programs or cracking program archives.</li>
      <li>Content with the sole purpose of causing harm or inciting hate, or content that could be reasonably considered as slanderous or libelous.</li>
      </ul>
      <p>Users posting any of the above content on their sites will be notified using User's current email address on file, and given a 48 hour grace period to make any corrective actions. If no corrective actions are taken, BitBalloon will suspend the services of the member account until a resolution is met between BitBalloon and the User. A repeated violation of this Policy may cause cancellation of service without refund of any fees.</p>
      <p>In addition, BitBalloon does not allow any of the following:</p>
      <ul>
      <li>Users may not use the Service as a remote storage server only.</li>
      <li>Users may not access the Service through automated methods. Use of robots or other computer code which calls the Service, except where explicitly allowed, is absolutely forbidden.</li>
      <li>Users must exercise caution when hosting large downloads (&gt;10MB). BitBalloon reserves the right to refuse to host any large downloadable files.</li>
      <li>Users may not send unsolicited messages (also known as junk mail or SPAM) to promote any website published on the Service.</li>
      </ul>
      <p>Users are not permitted to knowingly allow another website or hosting server to link to content files stored on BitBalloon servers. Users deemed to be using BitBalloon solely as a remote storage server will have their account immediately terminated and will have all files associated with their account permanently removed.</p>
      <p>The final choice of whether an account is in violation of any of these policies is at the sole discretion of BitBalloon.</p>
      <p>Violation of any of these policies may result in tracking information being stored to identify the offending user, and permanent restriction from holding an account on the Service.</p>
      <h3>Fees</h3>
      <p>User agrees to either a one (1) month, twelve (12) month or twenty-four (24) month contract agreement with BitBalloon.</p>
      <ul>
      <li>User can opt to upgrade or downgrade their service agreement to any other contract agreement that BitBalloon is currently offering for sale at any time during User's contract term.</li>
      <li>At the end of the contract term, the contract will automatically renew indefinitely until explicitly cancelled by the User. Cancellation must be issued via the User's website Manager interface or via BitBalloon's support addresses. Any cancellation issued via the customer's website Manager interface must be done at least one (1) day prior to the end of the contract term. Any cancellation not issued via the website Manager interface must be done ten (10) days prior to the end of the contract term to allow for adequate processing time.</li>
      </ul>
      <h3>Chargeback / Refund Policy</h3>
      <ul>
      <li>BitBalloon will not, under any circumstances, issue cash refunds for early contract cancellation. All BitBalloon accounts begin an obligation-free trial which will allow you to evaluate the service for minimum14 days. No credit card information is collected to initiate a trial account, and charges will only be applied after explicit account purchase via the account Billing area. Please sign up for a monthly payment schedule if you are unsure of how long you will be using the service.</li>
      <li>If you have a question about charges made to your account, please contact us immediately. If the charges were made in error, we will immediately credit your account or credit card account for the appropriate amount.</li>
      <li>BitBalloon has a zero tolerance policy for chargebacks. Any customer who disputes a credit card payment that is found to be valid will be permanently blacklisted and barred from use of the Service. Any past due fees and costs will be sent to collections. If our collection efforts fail, unpaid debts will be reported to all available credit reporting agencies.</li>
      </ul>
      <h3>Temporary Use License Granted</h3>
      <ol><ol>
      <li>Only for the duration of being logged into the User's valid BitBalloon account, the User is hereby granted a non-exclusive, non-transferable temporary license, subject to the terms and qualifications of this Agreement, to use the Services only on the single computer that temporarily accesses the Services directly from the BitBalloon website.</li>
      <li>A valid BitBalloon account may only be created and maintained by a User who fully provides valid personal information about the User in the signup process. To maintain a valid account, the User must regularly update such information to assure its accuracy, and the User must always comply with the terms of this Agreement.</li>
      <li>The User is not granted a license or any other right to store any of the Services (including any portion of the software or documentation) on any computer or other device, or copy or otherwise use such information to create derivative works.</li>
      <li>
      <h4>Material and Products</h4>
      <ol>
      <li>BitBalloon, and its Partners provide Services on an "as is" basis. BitBalloon, shall make no effort to validate any information provided by the User for use with Services for content, correctness or usability.</li>
      <li>Use of BitBalloon services requires a certain level of knowledge in the use the Internet and World Wide Web. The User is required to have the necessary knowledge to use the Internet and the World Wide Web.</li>
      <ol>
      <li>It is not the responsibility of BitBalloon to provide free support for the User in the use and operation of BitBalloon.</li>
      <li>Only services and features clearly indicated as "free" or "no charge" are free or without charge. All other applications, features, functionality and support provided by BitBalloon, and its partners are provided for a fee and the User is liable for such fees.</li>
      <li>The User may not rent or lease or provide the Services (including any software or documentation used by or with the service) to third parties.</li>
      <li>The User may not decompile, disassemble, reverse engineer, copy, create a derivative work, or display the Software code in human readable form, or otherwise use the Services (which includes its software and documentation) except as explicitly provided for in this agreement.</li>
      <li>The User may not store, publish, or give the Services (including software and documentation) to others, or otherwise enable its use by others.</li>
      </ol></ol></li>
      <li>
      <h4>BitBalloon Etiquette and Privacy</h4>
      <ol>
      <li>Electronic forums such as mail distribution lists and news groups all have expectations regarding subject area and appropriate etiquette for posting. Users of these forums should be considerate of the expectations and sensitivities of others on the network when posting material for electronic distribution.</li>
      <li>The network resources of the BitBalloon may not be used to impersonate another person or misrepresent authorization to act on behalf of others or BitBalloon</li>
      <li>All messages transmitted via BitBalloon should correctly identify the sender; Users may not alter the attribution of origin in electronic mail messages or posting.</li>
      <li>All users shall not attempt to undermine the security or integrity of computing systems or networks of BitBalloon, its Partners, or those accessed through or with their product, and must not attempt to gain unauthorized access.</li>
      <li>All user-specific information provided by user in connection with Services shall be governed by the BitBalloon Privacy Policy. User understands and accepts all terms and conditions contained within the BitBalloon Privacy Policy.</li>
      <li>BitBalloon reserves the right to terminate any account that does not include a valid email address on file. This email address must be stored in the profile for the administrative account within User's website on the BitBalloon system.</li>
      </ol></li>
      <li>
      <h4>Age and Nature of the User</h4>
      </li>
      <ol>
      <li><span>The User certifies that he or she is a person at least 18 years of age. </span></li>
      <li><span>The Services may not be used by any automated device or automated computational machine. </span></li>
      <li><span>The Service may only be used or accessed through an electronic device under the manual control of User at all times. </span></li>
      </ol>
      <li>
      <h4>Taxes</h4>
      <ol>
      <li><span>BitBalloon shall not be liable for any taxes or other fees to be paid in accordance with or related to purchases made from or by the User or through the BitBalloon services.</span></li>
      <li><span>The User takes full responsibility for all taxes and fees of any nature associated with Services used or products purchased.</span></li>
      </ol></li>
      <li>
      <h4>Lawful Purpose</h4>
      <ol>
      <li><span>Services provided to or used by the User may only be for lawful purposes.</span></li>
      <li><span>Transmission, storage, copying, or modifying any material or other actions by User in violation of any Federal, State or Local regulation is prohibited.</span></li>
      <li><span>This includes material legally judged to be threatening or obscene, pornographic, profane, or material protected by trade secrets.</span></li>
      <li><span>This also includes, but is not limited to, material protected by copyright, trade secret, or any other statute, threatening material, or obscene material.</span></li>
      <li><span>Users are prohibited from using BitBalloon for the propagation, distribution, housing, processing, storing, or otherwise handling in any way lewd, obscene, or pornographic material, or any other material which BitBalloon deems, in its sole discretion, to be objectionable, including, but not limited to, pornography, satanic materials, and any and all materials of an adult nature. This also includes links or any connection to such materials. The designation of any materials as such described above is left entirely to the discretion of the BitBalloon management.</span></li>
      <li><span>The subscriber agrees to indemnify and hold harmless and defend BitBalloon from any claims resulting from the User's use or User's allowed use by others of the Services which damages either BitBalloon its officers, its employees, its directors, its partners, or another party or parties.</span></li>
      </ol></li>
      <li>
      <h4>Limited Liability</h4>
      <ol>
      <li><span>User shall defend, indemnify, save and hold BitBalloon (including, its agents, its clients, its servants, officers, directors and employees) harmless from any and all demands, liabilities, losses, costs and claims, including reasonable attorneys' fees, ("Liabilities") asserted against them, that may arise or result from any service provided or performed or agreed to be performed or any product used or sold by or to User, its agents, employees or assigns.</span></li>
      <li><span>User shall defend, indemnify and hold harmless BitBalloon (including, its agents, its clients, its servants, officers, directors and employees) against any and all Liabilities caused directly or indirectly the User or any person who User allows to access the Services.</span></li>
      <li><span>Under no circumstances, including negligence, shall BitBalloon (including, its agents, its clients, its servants, officers, directors and employees) or any one else involved in creating, producing or distributing BitBalloon services be liable for any direct, indirect, incidental, special or consequential damages that result from the use of or inability to use the BitBalloon service; or that results from mistakes, omissions, interruptions, deletion of files, errors, defects, delays in operation, or transmission or any failure of performance, whether or not limited to acts of God, communication failure, theft, destruction or unauthorized access to BitBalloon records, programs or services. This paragraph shall apply to all content and functionality of BitBalloon Service.</span></li>
      <li><span>Notwithstanding the above, User's exclusive remedies for all damages, losses and causes of actions whether in contract, tort including negligence or otherwise, shall not exceed the aggregate dollar amount which User paid directly to BitBalloon during the current month.</span></li>
      <li><span>Such limitations shall apply to BitBalloon total liability, including without limitation any liability for damages caused or allegedly caused by any failure of performance, error, omission, interruption, deletion, defect, delay in operation of transmission, communications failure, theft of destruction of or unauthorized access to, alteration of, or use of records, whether for breach of contract, tortuous behavior, negligence, or under any other cause of action.</span></li>
      </ol></li>
      <li>
      <h4>Trademarks and Copyrights</h4>
      <ol>
      <li><span>User warrants that it has the right to use the any trademarks, processes, or other materials it uses with the Services, if any. </span></li>
      <li><span>User warrants that its content does not infringe any third party copyrights or patents.</span></li>
      </ol></li>
      <li>
      <h4>Service Reliability and Warranties</h4>
      <ol>
      <li><span>BitBalloon makes no warranties or representations of any kind, whether expressed or implied for the Services.</span></li>
      <li><span>User's, use of BitBalloon services are at User's sole risk. Neither BitBalloon its employees, directors, affiliates, agents, third party information providers, merchants licensers or the like, warrant that BitBalloon service will not be interrupted or error free; nor do they make any warranty as to the results that may be obtained from the use of the Services or as to the accuracy, reliability or content of any information service or merchandise contained in or provided through the BitBalloon Service, unless otherwise expressly stated in this Agreement.</span></li>
      <li><span>BitBalloon also disclaims any warranty of merchantability or fitness for any particular purpose and will not be responsible for any damages that may be suffered by the User, or viewers and users of User's materials, including loss of data resulting from delays, non-deliveries or service interruptions by any cause or errors or omissions of the Client. Use of any information obtained by way of BitBalloon is at the User's own risk, and BitBalloon specifically denies any responsibility for the accuracy or quality of information obtained through its services. </span></li>
      <li><span>Damages claims for unavailability of the Service against BitBalloon are expressly limited to the pro-rata portion of any monthly charge pre-paid by the User directly to BitBalloon for the period of the system unavailability. "System unavailability" shall be narrowly defined as an unscheduled outage of more than 2 hours, but in no case shall include outages for maintenance, upgrade or repair where Users are provided notice of such outages in advance via the BitBalloon Service Blog.</span></li>
      <li><span>Under no circumstances will BitBalloon bear any responsibility for any damages arising as a consequence of such unavailability.</span></li>
      </ol></li>
      <li>
      <h4>Contract Revisions and Applicable Legal Jurisdiction</h4>
      <ol>
      <li><span>Revisions to this Agreement will be applicable to previous version of this Agreement. Revisions will be considered agreed to by the User continuing to use of or access the Services in any way.</span></li>
      <li><span>BitBalloon reserves all rights for changes and/or modifications to the Services and rates and will communicate these changes to the subscriber within 30 days of their effect.</span></li>
      <li><span>This Agreement constitutes the entire understanding of the parties, and is agreed to being entered into in the State of California</span></li>
      <li><span>This Agreement shall be governed and construed in accordance with the laws of the State of California and no party shall object to removal or prosecution of any litigation to a federal or state court in California</span></li>
      </ol></li>
      </ol></ol>
      <h3>Termination</h3>
      <ol>
      <li><span>This Service may be terminated by either party, without cause, by giving the other party 10 days written notice.</span></li>
      <li><span>Notwithstanding the above, BitBalloon may terminate Services at any time, without penalty and without notice, if the User fails to comply with any of the terms of this Agreement or the intellectual property protections applicable to these Services. BitBalloon may also seek legal prosecution of any violations of law or this Agreement and the User agrees to personal jurisdiction by the Courts in the State of California</span></li>
      <li><span>Upon notice of termination of Services by BitBalloon to User via contact e-mail to User's Services account and contact e-mail account provided in User's personal information, or voluntary termination of service by User, BitBalloon has the right to delete all data, files, or other information that is stored in the User's account for any reason. </span></li>
      </ol>
    </div>
  </section>
  <section>
    <p class="title" data-section-title><a href="#privacy">Privacy Policy</a></p>
    <div class="content" data-section-content data-slug="privacy">
      <p>BitBalloon takes your privacy seriously. We will not sell, lease, or exchange your personal data to, or otherwise share your personal data with, third parties in ways other than described in this Privacy Policy.</p>
      <p>By using BitBalloon including services available at the BitBalloon.com domains, you are using a service provided by BitBalloon. (the &ldquo;Service&rdquo;) and you agree to be bound by the Terms of Service and this Privacy Policy. Some capitalized terms used in this Privacy Policy and not otherwise defined may be defined in the Terms of Service. This Privacy Policy only addresses activities from our servers.</p>
      <h3>Consent and Information Collection and Use</h3>
      <p>When you join us as a user of our Services, we ask for personal information that will be used to activate your account, provide the Services to you, communicate with you about the status of your account, and for other purposes set out in this Privacy Policy. Your name, company name, address, telephone number, email address, credit card information and certain other information about you may be required by us to provide the Services or disclosed by you during your use of the Services. You will also be asked to create a private password, which will become part of your account information.</p>
      <p>By providing personal information to us and by retaining us to provide you with the Services, you voluntarily consent to the collection, use and disclosure of such personal information as specified in this Privacy Policy. Without limiting the foregoing, we may on occasion ask you to consent when we collect, use, or disclose your personal information in specific circumstances. Sometimes your consent will be implied through your conduct with us if the purpose of the collection, use or disclosure is obvious and you voluntarily provide the information.</p>
      <p>We may use your personal or account information for the following purposes:</p>
      <ul>
      <li><span>To provide the Services to you and to improve the quality of the Site and Services, </span></li>
      <li><span>To provide information to you so that you may use the Site and Services more effectively, </span></li>
      <li><span>To create, manage and control your account information, and to verify access rights to services and software, </span></li>
      <li><span>To bill your account, </span></li>
      <li><span>To communicate with you for the purpose of informing you of changes or additions to the Services, or of the availability of any service we provide, </span></li>
      <li><span>To assess service levels, monitor traffic patterns and gauge popularity of different service options, </span></li>
      <li><span>To carry out our marketing activities;</span></li>
      <li><span>To enforce this Privacy Policy; </span></li>
      <li><span>To respond to claims of any violation of our rights or those of any third parties; </span></li>
      <li><span>To respond to your requests for customer service; </span></li>
      <li><span>To protect the rights, property or personal safety of you, us, our users and the public; and as required or authorized by law.</span></li>
      </ul>
      <p>We may occasionally communicate with you regarding our products, services, news and events. You have the option to not receive this information. We provide an opt-out function within all email communications of this nature, or will cease to communicate with you for this purpose if you contact us and tell us not to communicate this information to you. The only kind of these communications that you may not "opt-out" of are those required to communicate announcements related to the Services, including information specific to your account, planned Services suspensions and outages. We will attempt to minimize this type of communication to you.</p>
      <h3>Age of Consent</h3>
      <p>We do not knowingly provide the Services to, and will not knowingly collect the personal information from anyone under the age of consent.</p>
      <h3>Rights to Your Information</h3>
      <p>You have the right to access and edit your information at anytime through the web interface provided as part of the Services.</p>
      <h3>Disclosure</h3>
      <p>We will only share your information with third parties in accordance with your instructions or as necessary to provide you with a specific service or otherwise in accordance with applicable privacy legislation. As a general rule, we do not and will not sell, rent, share or disclose your personal information without first receiving your permission or as permitted in this Privacy Policy.</p>
      <h3>Aggregated Data</h3>
      <p>We may also use your personal information to generate Aggregated Data for internal use and for sharing with others on a selective basis. "Aggregated Data" means records which have been stripped of information potentially identifying customers, landing pages or end-users, and which have been manipulated or combined to provide generalized, anonymous information. Your identity and personal information will be kept anonymous in Aggregated Data.</p>
      <h3>Links</h3>
      <p>The Site may contain links to other sites and we are not responsible for the privacy practices or the content of such sites. We encourage you to read the privacy policy of linked sites. Their privacy policies and practices differ from our policies and practices.</p>
      <h3>Cookies and Log Files</h3>
      <p>We use cookies and log files to track user information. Cookies are small amounts of data that are transferred to your web browser by a web server and are stored on your computer's hard drive. We use cookies to track which page variant a visitor has seen, to track if a visitor has clicked on a page variant, to monitor traffic patterns and to gauge popularity of service options. We will use this information to deliver relevant content and services to you. This also allows us to make sure that visitors see the website they expect to see if they return to the same web URL and it allows us to tell you how many people click on your website.</p>
      <h3>Change of Ownership or Business Transition</h3>
      <p>In the event of a change of ownership or other business transition, such as a merger, acquisition or sale of our assets, your information may be transferred in accordance with applicable privacy laws.</p>
      <h3>Security</h3>
      <p>We will strive to prevent unauthorized access to your personal information, however, no data transmission over the Internet, by wireless device or over the air is guaranteed to be 100% secure. We will continue to enhance security procedures as new technologies and procedures become available.</p>
      <p>We strongly recommend that you do not disclose your password to anyone. If you forget your password, we will ask you for your ID and send you an email containing a link that will allow you to reset your password.</p>
      <p>Please remember that you control what personal information you provide while using the Services. Ultimately, you are responsible for maintaining the secrecy of your identification, passwords and/or any personal information in your possession for the use of the Services. Always be careful and responsible regarding your personal information. We are not responsible for, and cannot control, the use by others of any information which you provide to them and you should use caution in selecting the personal information you provide to others through the Services. Similarly, we cannot assume any responsibility for the content of any personal information or other information which you receive from other users through the Services, and you release us from any and all liability in connection with the contents of any personal information or other information which you may receive using the Services. We cannot guarantee, or assume any responsibility for verifying, the accuracy of the personal information or other information provided by any third party. You release us from any and all liability in connection with the use of such personal information or other information of others.</p>
      <h3>Contact Us</h3>
      <p>If you have any questions or suggestions regarding our Privacy Policy, please contact us at <a href="mailto:team@bitballoon.com">team@bitballoon.com</a></p>
    </div>
  </section>
</div>