<section class="upgrade">
  <div class="row">
    <div class="large-12 columns">
      <h2 class="text-center">Be 100% satisfied before you upgrade!</h2>
      <div class="large-6 columns large-centered upgrade-column">

        <div class="row">
          <p>Deploy your site & make sure it performs the way you like. Upgrade once you're ready to set up a custom domain.</p>

          <p class="pro-pricing text-center">Host a Pro site for $7.00 a month or $60.00 a year</p>

          <p class="save text-center"><span>Save 33% with annual billing!</span></p>

        </div>

        <div class="row">
          <div class="dashed-box">
            <div class="cta">
              <div class="row">
                <div>
                  <h3 class="headline text-center">Drag your <span class="folder-support">site folder</span><span class="no-folder-support">site zip</span> here</h3>
                </div>
                  <i class="lnr lnr-cloud-upload redeploy-cloud"></i>
              </div>
            </div>
          </div>

          <p class="text-center">Looking to deploy a large volume of sites?<br/> Get in touch about <a href="#business-pricing" data-reveal-id="request-a-demo" >business pricing.</a></p>

        </div>

      </div>
    </div>
  </div>

</section>

<%= partial "includes/demo_modal" %>